* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
  background-color: #e5e7eb;
}

.sidebar {
  grid-area: sidebar;
  background-color: #b45309;
  color: #f8fafc;
  font-weight: 800;
}

.sidebar1,
.sidebar2 {
  margin-top: 1rem;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 28px);
  align-items: center;
  padding-left: 15px;
}
.dashboard p {
  font-size: 20px;
  font-weight: 700;
}

.header {
  grid-area: header;
  padding: 20px;
  box-shadow: 5px 5px 8px 2px #d0d0d1;
  background-color: #f8fafc;
}

.search-bar {
  display: grid;
  grid-template-columns: repeat(2, 30px);
}

.searchBox {
  width: 30rem;
  height: 1.5rem;
  background-color: #e5e7eb;
  border-radius: 10px;
}

.notification {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  align-items: center;
  margin-left: 50px;
}

.leftSecondRow {
  display: grid;
  grid-template-columns: repeat(2, 70px);
}

.notification p {
  font-size: 15px;
  font-weight: 700;
  width: 30em;
}

.firstRow,
.secondRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 5px;
}

.username:nth-child(2) {
  display: grid;
  grid-template-rows: repeat(2, 10px);
  font-size: 1.2rem;
  width: 20rem;
  font-weight: 700;
  margin: 0;
}

#firstP {
  font-size: 12px;
}

.rightSecondRow {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  align-items: center;
  justify-content: end;
}

.rightSecondRow p {
  background-color: #ea580c;
  width: 5rem;
  padding: 3px;
  text-align: center;
  border-radius: 25px;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 12px;
}

.main {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-areas:
    "supercool lesscool announcement"
    "impossible easy announcement"
    "ad money trending ";
}

.supercool {
  grid-area: supercool;
}

.lesscool {
  margin-top: 49px;
  grid-area: lesscool;
}

.Announcement {
  grid-area: announcement;
}

.impossible {
  grid-area: impossible;
}

.Easy {
  grid-area: easy;
}

.trending {
  grid-area: trending;
}

.money {
  grid-area: money;
}

.Ad {
  grid-area: ad;
}

.maingrids,
.side {
  background-color: #f8fafc;
  border-radius: 10px;
  padding: 20px;
}

.side div {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  grid-template-rows: repeat(4, 20px);
  align-items: center;
}

.iconText p {
  width: 150px;
}
