* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
}

.sidebar {
  border: 1px solid red;
  grid-area: sidebar;
  background-color: #22c55e;
  color: #f8fafc;
  font-weight: 800;
}
.dashboard {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  align-items: center;
  gap: 15px;
}

.dashboard p {
  font-size: 20px;
}

.sidebar1,
.sidebar2 {
  font-size: 17px;
}

. .header {
  border: 1px solid red;
  grid-area: header;
}

.main {
  display: grid;
  border: 1px solid red;
  grid-area: main;
}
