* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
}

.sidebar {
  border: 1px solid red;
  grid-area: sidebar;
  background-color: #b45309;
  color: #f8fafc;
  font-weight: 800;
  border: 1px solid red;
}

.sidebar1,
.sidebar2 {
  margin-top: 1rem;
  font-size: 17px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 28px);
  align-items: center;
  padding-left: 15px;
}
.dashboard p {
  font-size: 20px;
  font-weight: 700;
}

.header {
  border: 1px solid red;
  grid-area: header;
  padding: 10px;
}

.search-bar {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  margin-left: 40px;
}

.searchBox {
  width: 30rem;
  height: 1.5rem;
  background-color: #e5e7eb;
  border-radius: 10px;
}

.notification,
.leftSecondRow {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  align-items: center;
  margin-left: 35px;
}

.notification p {
  font-size: 15px;
  font-weight: 700;
  width: 30em;
}

.firstRow,
.secondRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.username:nth-child(2) {
  font-size: 1.2rem;
  width: 20rem;
  font-weight: 700;
  margin-top: 0;
}

#firstP {
  font-size: 12px;
  margin: 0;
}

.rightSecondRow {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  align-items: center;
  margin-left: 70px;
}

.rightSecondRow p {
  background-color: #ea580c;
  width: 5rem;
  padding: 7px;
  text-align: center;
  border-radius: 25px;
  color: #e5e7eb;
  font-weight: 700;
}

. .main {
  display: grid;
  border: 1px solid red;
  grid-area: main;
}
